

# JAVA SPECIFIC
# ===========================
*.class
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# INTELLIJ specific
# ===========================
.idea
*.iml

# BUILD SPECIFIC
# ===========================
.gradle/

# TODO is there a better way to do it?!
seetheeye-api/build/
seetheeye-impl/build/

# OS specific
# ===========================
.DS_Store
